/*Desktop First*/
.container {
    max-width: 1536px;
    margin: 0 auto;
}

/*2xl*/
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/*xl*/
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    // Island infos
    .infos-excu {
        align-items: center;
    }

    // absolute flowers
    .flowers {
        img {
            position: absolute;
            width: 125px;
            top: -65px;
        }

        .flo-1 {
            left: 30px;
        }

        .flo-2 {
            left: -15px;
        }

        .flo-3 {
            display: none;
        }

        .flo-4 {
            display: none;
        }
    }
}

/*lg*/
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    // Introduction -Homepage
    #home .malala {
        img {
            top: -80px;
        }
    }

    // Offers 
    #choice {
        background: url(../imgs/offers/007.png) bottom center/auto 100% no-repeat,
            linear-gradient(to bottom, transparent, #fff, transparent);
    }

    // excursion
    .infos-excu {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    // slider
    .swiper {
        width: 80vw;
    }

    .preview {
        h5 {
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
        }

        .lemur {
            position: absolute;
            top: -100px;
            left: 100%;
            transform: translateX(-50%) rotate(20deg);
            z-index: 2;
            width: 300px;

            img {
                width: 100%;
            }
        }
    }
}

/*md*/
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    //Introduction - Homepage
    #home {
        padding-top: 150px;

        .malala {
            padding: 3em 15px 1em 15px;

            h1 {
                top: -75px;
            }

            img {
                top: -75px;
            }
        }
    }

    // Island trip
    //left
    .includ {
        width: 100%;
        max-width: none;
        margin-top: 25px;
        display: flex;
        gap: 25px;

        .in,
        .price {
            width: 50%;
            margin-bottom: 20px;
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
        }
    }

    .reserves {
        @include button-primary();
        position: absolute;
        bottom: 40px;
        right: 75px;
    }

    //right
    .content {
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }

    .illustration {
        width: 100%;
        max-width: 90vw;
        height: 255px;
        background: red;

        .bg-illu {
            min-width: 100%;
        }
    }

    .separation {
        height: 4px;
        width: 250px;
        border-radius: 2px;
        margin: 25px auto;
    }

    .descr {
        width: 100%;
    }

    // responsive navbar
    .menu-burger {
        display: block;
    }

    nav {

        // display: none;
        // nav links
        ul {
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 25%;
            min-width: 200px;
            text-align: center;
            background: rgba($shadow, 0.4);
            -webkit-backdrop-filter: blur(3px);
                    backdrop-filter: blur(3px);
            box-shadow: -2px 0px 5px $shadow;
        }
    }

    // Bivouac nosy iranja
    .iranja-bivouac {
        .informa {
            bottom: 0px;
        }

        .text {
            margin: 0 29px;
        }
    }

}

/*sm*/
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }

    //Introduction - Homepage
    #home .malala {
        h1 {
            top: -50px;
        }

        img {
            top: -50px;
            right: -40px;
        }
    }

    .inc,
    .price {
        flex-grow: 1;
    }

    //left
    .includ {
        display: flex;
        flex-wrap: wrap
    }

    .includ .in,
    .includ .price {
        width: 100%;
        margin-bottom: 20px;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

    .reserves {
        @include button-primary();
        position: absolute;
        @include center-absolute-bottom(-35px)
    }

    // excursion
    .preview {
        .lemur {
            display: none;
        }
    }

    // circuit
    .program {
        margin: 75px 20px 20px 20px;
    }
}

/*xs*/
@media (max-width: 475px) {
    .container {
        width: 100%;
    }

    //Introduction - Homepage
    #home .malala {
        h1 {
            top: -30px;
        }
    }

    // tour de l'ile
    .content {
        width: 90%;
        margin: 0 auto;
    }

    .boxs {
        overflow-x: hidden;
        font-size: .9em;
    }

    .quad {
        span {
            @include button-secondary();
            margin: 0 50% 0 0;
            line-height: 40px;
        }
    }

    //circuit nord
    #circuit {
        h4 {
            font-size: .9em;
        }
    }

    // reservation
    form {
        h2 {
            font-size: 1.1em;
            letter-spacing: 0px;
        }
    }

    .politique {
        p {
            letter-spacing: 0px;
            font-size: .9em;
        }
    }
}