/* reservation */
#reservation {
    padding-top: 50px;
}

form {
    .client {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        justify-content: space-evenly;
    }

    .infos {
        @include fields($base-border-radius);
        padding: 1em;
        position: relative;
        width: 90%;
        max-width: 500px;
    }

    h2 {
        @include center-absolute(-12px);
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        font-size: 1.2em;
        letter-spacing: 2px;
        text-shadow: 0px 0px 4px #000, 0px 0px 2px #fff, 0px 0px 2px #fff;
    }
}

// client and excursion infos 
.infos {
    div {
        display: flex;
        flex-direction: column;

        p {
            margin-top: 25px;
        }

        label {
            font-family: 'sub';
            font-size: 1.1em;
            margin: 10px 0;
            text-shadow: 1px 1px 1px var(--clr-shadow);
        }

        input,
        select {
            font-family: 'sub';
            border: 2px solid #fff;
            background: #38b6ff;
            border-radius: 25px;
            padding: .7em 1em;

            &:focus {
                outline: #38b6ff 2px solid;
            }
        }

        input {
            text-transform: initial;
        }

        select {
            padding-right: 50px;
        }
    }
}

// dropdown island selection
.chos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $base-border-radius;

    select {
        flex-grow: 1;
    }

    input {
        width: 85px;
    }
}

// Optional services
.optional {
    display: flex;

    span {
        font-size: 1em;
    }

    #optional-1,
    #optional-2 {
        display: none;
    }
}

// payment choice
.choice {
    input {
        margin: 10px;
    }
}

// politic
.politique {
    background: $primary;
    padding: .4em;
    color: $primary;
    border-radius: 7px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 15px auto;
    text-shadow: 0px 0px 5px var(--clr-primary);
    cursor: pointer;

    p {
        color: $secondary;
        font-family: 'sub-title';
        letter-spacing: 2px;
        margin: 0 $base-margin;
    }
}

// send button
.send {
    text-align: center;

    button {
        @include button-primary();
    }
}

// thanking popup
.popup {
    position: absolute;
    @include center-absolute(50%);
    z-index: 5;
    background: $secondary;
    padding: $base-margin-xl;
    border-radius: $base-border-radius;
    box-shadow: $secondary 0px 0px 5px,
        $secondary 0px 0px 10px,
        $secondary 0px 0px 15px,
        $secondary 0px 0px 20px,
        $secondary 0px 0px 25px,
        $secondary 0px 0px 30px,
        $secondary 0px 0px 50px;
    width: 40ch;
    text-align: center;
    -webkit-animation: the-popup .25s both;
            animation: the-popup .25s both;

    p {
        text-align: center;
    }

    .btn {
        font-family: 'sub';
        padding: 5px 15px;
        margin: 5px auto;
        border: 2px solid $primary;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        border-radius: $base-border-radius;
        cursor: pointer;
        transition: .25s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;

        &:hover {
            padding: 5px 20px;
        }
    }
}