@charset "UTF-8";
.test-btn {
  background-color: #9900ff;
}

@font-face {
  font-family: "Titre";
  src: url(../fonts/playlist-script.otf);
  font-display: swap;
}
@font-face {
  font-family: "sub-title";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "bold-sub-title";
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "sub";
  src: url(../fonts/Montserrat-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: "text";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-display: swap;
}
h1 {
  font-family: "Titre";
  font-size: clamp(2em, 10vw + 1em, 7em);
  text-shadow: 4px 4px 0px rgba(18, 18, 18, 0.6156862745);
  text-align: center;
}

h2 {
  font-family: "sub-title";
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.6156862745), 1px 1px 4px rgba(18, 18, 18, 0.6156862745), 1px 1px 2px rgba(18, 18, 18, 0.6156862745);
}

h3 {
  font-family: "bold-sub-title";
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.6156862745), 1px 1px 4px rgba(18, 18, 18, 0.6156862745), 1px 1px 2px rgba(18, 18, 18, 0.6156862745);
}

h4,
.titree,
a {
  font-family: "sub";
}

h4, .titree {
  font-size: clamp(2.5em, 10vw + 1em, 5em);
  color: #fff;
  font-family: "titre";
  text-shadow: #000 0px 0px 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

h5 {
  font-family: "titre";
  text-transform: initial;
  font-size: clamp(3.5em, 5vw + 1em, 5em);
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.6156862745), 1px 1px 4px rgba(18, 18, 18, 0.6156862745), 1px 1px 2px rgba(18, 18, 18, 0.6156862745);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

p {
  font-family: "text";
  text-align: justify;
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.6156862745), 1px 1px 4px rgba(18, 18, 18, 0.6156862745), 1px 1px 2px rgba(18, 18, 18, 0.6156862745);
}

/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  color: #fff;
  scroll-behavior: smooth;
}

/* body styles */
body {
  background: url(../../assets/imgs/secondary-bg.webp) center/cover no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
  font-size: 18px;
}
body::-webkit-scrollbar {
  width: 0.25em;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #38b6ff;
}

section {
  min-height: 100vh;
}

/*Navbar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #38b6ff;
  z-index: 5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.125rem;
  font-size: 1.1em;
  text-shadow: 0px 0px 2px rgba(18, 18, 18, 0.6156862745), 0px 2px 2px rgba(18, 18, 18, 0.6156862745);
}
nav .home {
  display: flex;
  align-items: center;
}
nav .logo {
  height: 50px;
  width: auto;
  aspect-ratio: 1/1;
  cursor: pointer;
}
nav .logo img {
  max-height: 50px;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.25s all ease-in-out;
}
nav .logo img:hover {
  scale: 1.125;
}
nav ul {
  display: flex;
  gap: 0.75rem;
  transition: 0.25s all ease-in;
}

.menu-burger {
  display: none;
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
}
.menu-burger.shine div {
  box-shadow: 0px 0px 4px #fff;
}
.menu-burger div {
  height: 4px;
  width: 30px;
  background: #fff;
  margin: 4px;
  border-radius: 2px;
  transition: 0.25s all ease-in-out;
}
.menu-burger div.shrink {
  width: 25px;
}
.menu-burger div.shrinks {
  width: 20px;
}

.mobile-menu {
  right: 0;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.4509803922);
  box-shadow: #000 20px -12px 50px, inset rgba(0, 0, 0, 0.4392156863) 0px 12px 10px;
  margin-top: 150px;
  padding: 25px 0 10px 0;
}
footer .reach-us {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 15px 0 30px 0;
}
footer .soc {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
footer .soc img {
  height: 40px;
  transition: 0.25s scale ease-in-out;
}
footer .soc img:hover {
  scale: 1.1;
}
footer .made p {
  font-size: 0.85em;
  text-transform: none;
}
footer span {
  text-transform: none;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}
footer span::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  background: #fff;
  width: 0%;
  height: 1px;
  box-shadow: #000 1px 1px 2px;
  transition: 0.25s width ease-in-out;
}
footer span:hover::before {
  width: 75%;
}

/* Homepage */
/* Introduction */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  overflow: hidden;
}

.intro h1 {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
.intro div {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 40px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  position: relative;
  max-width: 600px;
}

.malala {
  padding: 3em 2em 2em 2em;
  margin: 0 15px;
}
.malala img {
  position: absolute;
  right: -50px;
  top: -100px;
  transform: rotate(25deg);
  width: clamp(200px, 50%, 350px);
}

.soon {
  text-align: center;
  border: 6px solid rgba(255, 255, 255, 0.2862745098);
  font-family: "sub-title";
  font-size: 1.2em;
  text-shadow: 2px 2px 1px rgba(18, 18, 18, 0.6156862745);
  padding: 1.5em 3em;
  margin: 1rem 15px 0 15px;
}
.soon img {
  position: absolute;
  top: -25px;
  left: -50px;
}

/* Offers */
#choice {
  margin-top: 15%;
  background: url(../imgs/offers/007.webp) bottom left/auto 100% no-repeat, url(../imgs/offers/001.webp) top right/clamp(350px, 50vw, 700px) no-repeat, linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.862745098), transparent);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
#choice .container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px auto;
}

.div {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  border: none;
  max-width: 250px;
  min-height: 350px;
  box-shadow: #000 0px 2px 15px;
  padding-bottom: 4px;
}
.div h2 {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 1.2em;
}
.div p {
  margin: 0.75rem;
}
.div img {
  margin-top: 1em;
  height: 150px;
  width: 100%;
}

/* reservation */
#reservation {
  padding-top: 50px;
}

form .client {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-evenly;
}
form .infos {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  padding: 1em;
  position: relative;
  width: 90%;
  max-width: 500px;
}
form h2 {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-shadow: 0px 0px 4px #000, 0px 0px 2px #fff, 0px 0px 2px #fff;
}

.infos div {
  display: flex;
  flex-direction: column;
}
.infos div p {
  margin-top: 25px;
}
.infos div label {
  font-family: "sub";
  font-size: 1.1em;
  margin: 10px 0;
  text-shadow: 1px 1px 1px var(--clr-shadow);
}
.infos div input,
.infos div select {
  font-family: "sub";
  border: 2px solid #fff;
  background: #38b6ff;
  border-radius: 25px;
  padding: 0.7em 1em;
}
.infos div input:focus,
.infos div select:focus {
  outline: #38b6ff 2px solid;
}
.infos div input {
  text-transform: initial;
}
.infos div select {
  padding-right: 50px;
}

.chos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.chos select {
  flex-grow: 1;
}
.chos input {
  width: 85px;
}

.optional {
  display: flex;
}
.optional span {
  font-size: 1em;
}
.optional #optional-1,
.optional #optional-2 {
  display: none;
}

.choice input {
  margin: 10px;
}

.politique {
  background: #fff;
  padding: 0.4em;
  color: #fff;
  border-radius: 7px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 15px auto;
  text-shadow: 0px 0px 5px var(--clr-primary);
  cursor: pointer;
}
.politique p {
  color: #38b6ff;
  font-family: "sub-title";
  letter-spacing: 2px;
  margin: 0 0.75rem;
}

.send {
  text-align: center;
}
.send button {
  width: max-content;
  font-family: "text";
  font-size: 1.1em;
  background: #38b6ff;
  padding: 0.5em 1.1em;
  border-radius: 35px;
  border: 3px solid #fff;
  box-shadow: -4px 4px 0px #fff;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.send button:hover {
  box-shadow: -4px 4px 2px rgba(18, 18, 18, 0.9);
  padding: 0.5em 2em;
}

.popup {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 5;
  background: #38b6ff;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: #38b6ff 0px 0px 5px, #38b6ff 0px 0px 10px, #38b6ff 0px 0px 15px, #38b6ff 0px 0px 20px, #38b6ff 0px 0px 25px, #38b6ff 0px 0px 30px, #38b6ff 0px 0px 50px;
  width: 40ch;
  text-align: center;
  -webkit-animation: the-popup 0.25s both;
  animation: the-popup 0.25s both;
}
.popup p {
  text-align: center;
}
.popup .btn {
  font-family: "sub";
  padding: 5px 15px;
  margin: 5px auto;
  border: 2px solid #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.popup .btn:hover {
  padding: 5px 20px;
}

/*Circuit-Nord / Fully responsive*/
#circuit {
  padding-top: 50px;
}
#circuit h4 {
  font-family: "sub";
  text-align: center;
  font-size: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  line-height: 25px;
  text-shadow: 0px 0px 5px #38b6ff;
}
#circuit h4 span {
  color: #38b6ff;
  background: #fff;
  padding: 0.4em;
  border-radius: 7px;
}

.intro {
  max-width: 600px;
  margin: 0.75rem auto;
}

.program {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  padding: 1.125rem 0.75rem;
  margin: 20px;
}
.program h3 {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 1.3em;
  z-index: 2;
}

.flowers img {
  position: absolute;
  width: 150px;
  top: -75px;
}
.flowers .flo-1 {
  left: 25%;
}
.flowers .flo-2 {
  left: 0;
}
.flowers .flo-3 {
  right: 25%;
}
.flowers .flo-4 {
  right: 0;
}

.triping {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, calc(28.5714285714% - 15px)));
  justify-content: space-evenly;
  gap: 32px;
  margin: 0.75rem 0;
}
.triping span {
  font-weight: 600;
}

.circuit {
  background: hsla(0, 0%, 10%, 0.5);
  padding: 0.75rem;
  border-radius: 20px;
}

.tit {
  position: relative;
}
.tit span {
  position: absolute;
  font-family: "sub-title";
  color: rgba(255, 255, 255, 0.3333333333);
  font-size: 2.2em;
  bottom: 4px;
  left: 15px;
  z-index: 3;
}
.tit h4 {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;
  text-transform: uppercase;
}

.places {
  width: 100%;
  height: 200px;
  margin: 0.75rem 0;
  overflow: hidden;
  border: 4px solid hsla(202, 100%, 9%, 0.39);
  border-radius: 20px;
  z-index: 3;
  position: relative;
}
.places::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: hsla(0, 0%, 10%, 0.6);
  backdrop-filter: blur(5px);
  z-index: 1;
}
.places img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.25s all ease-in-out;
}

.book {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  width: max-content;
  font-family: "text";
  font-size: 1.1em;
  background: #38b6ff;
  padding: 0.5em 1.1em;
  border-radius: 35px;
  border: 3px solid #fff;
  box-shadow: -4px 4px 0px #fff;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.book:hover {
  box-shadow: -4px 4px 2px rgba(18, 18, 18, 0.9);
  padding: 0.5em 2em;
}

.included {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 25px 20px 0 20px;
}
.included .inc,
.included .price {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  width: 30%;
  min-width: 300px;
  border: 3px solid rgba(56, 182, 255, 0.7);
  padding: 1em;
  margin: 1em 0;
  line-height: 30px;
  position: relative;
}
.included .inc h3,
.included .price h3 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 1.3em;
  letter-spacing: 2px;
}
.included p {
  text-align: center;
}

#excursion {
  padding-top: 50px;
  text-align: center;
}

.nav-islands {
  text-align: center;
  margin: 25px 0;
}
.nav-islands h3 {
  font-family: "titre";
  text-transform: initial;
  font-size: 2.5em;
  color: #fff;
  width: max-content;
  margin: 0 auto;
  padding: 0 15px;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5137254902), transparent);
  backdrop-filter: blur(2px);
}
.nav-islands button {
  background: none;
  border: none;
  margin: 10px 0.75rem;
  font-family: "sub";
  font-size: 1.1em;
  text-shadow: 0px 2px 2px #38b6ff, 0px 2px 5px #38b6ff;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.nav-islands button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 75%;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 2px 2px #38b6ff, 0px 2px 5px #38b6ff;
  transition: 0.25s all ease-in-out;
}
.nav-islands button:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.infos-excu {
  display: flex;
  gap: 1.125rem;
  margin-top: 75px;
  margin-bottom: 30px;
}

.preview {
  position: relative;
}
.preview h5 {
  position: absolute;
  top: -60px;
  z-index: 3;
}
.preview .lemur {
  position: absolute;
  top: -150px;
  left: 75px;
  z-index: 2;
  width: 300px;
}
.preview .lemur img {
  width: 100%;
}

.swiper {
  width: 40vw;
  min-width: 300px;
  max-width: 800px;
  height: 350px;
  border-radius: 20px 20px 0 0;
  border: 3px solid #fff;
  box-shadow: 0px 2px 5px rgba(18, 18, 18, 0.6156862745), 0px 2px 10px rgba(18, 18, 18, 0.6156862745), 0px 2px 15px rgba(18, 18, 18, 0.6156862745);
  background: rgba(255, 255, 255, 0.462745098);
}
.swiper img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.trip {
  position: relative;
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  margin: 25px 0;
  padding: 1.125rem;
}
.trip div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 5px 0;
}
.trip span {
  color: #38b6ff;
  font-family: "sub";
  background: #fff;
  margin: 0 0.75rem;
  padding: 5px;
  border-radius: 7px;
}

.ready {
  width: 80vw;
}
.ready .description {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  padding: 1.125rem;
  line-height: 21px;
}

.reserve-a {
  width: max-content;
  font-family: "text";
  font-size: 1.1em;
  background: #38b6ff;
  padding: 0.5em 1.1em;
  border-radius: 35px;
  border: 3px solid #fff;
  box-shadow: -4px 4px 0px #fff;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.reserve-a:hover {
  box-shadow: -4px 4px 2px rgba(18, 18, 18, 0.9);
  padding: 0.5em 2em;
}

.iranja-bivouac {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
}
.iranja-bivouac .text {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  max-width: 75ch;
  padding: 1.125rem;
  height: max-content;
}

.bivouac-img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 350px;
  background: rgba(255, 255, 255, 0.7333333333);
}
.bivouac-img:hover > .informa {
  bottom: 0px;
}
.bivouac-img img {
  width: 100%;
  height: 100%;
}
.bivouac-img .informa {
  background: rgba(0, 0, 0, 0.6509803922);
  box-shadow: 0px -2px 2px rgba(18, 18, 18, 0.6156862745);
  padding: 5px 0;
  max-width: 100%;
  width: 100%;
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  transition: 0.25s all ease-in-out;
}
.bivouac-img .informa p {
  text-align: center;
}

/* Tour de l'île */
#tour {
  padding-top: 50px;
  position: relative;
}

.boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.prevv {
  position: relative;
}

.navigation {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.navigation span {
  position: absolute;
  top: 50%;
  width: 125px;
  transform: translateY(-50%);
  transition: 0.25s all ease-in-out;
  cursor: pointer;
}
.navigation .right {
  right: -65px;
}
.navigation .right:hover {
  right: -70px;
}
.navigation img {
  width: 100%;
}
.navigation .left {
  left: -65px;
}
.navigation .left:hover {
  left: -70px;
}

.includ {
  width: 50%;
  max-width: 350px;
  order: 2;
  margin: 0.75rem 20px 35px 20px;
}
.includ .in,
.includ .price {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  border: 3px solid rgba(56, 182, 255, 0.5);
  padding: 2em 1em 2em 1em;
  margin-bottom: 20px;
}
.includ .in p,
.includ .price p {
  text-align: center;
  line-height: 30px;
}

h2 {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 1.2em;
}

.in img {
  position: absolute;
  width: 125px;
}
.in img.one {
  top: -60px;
  left: -25px;
}
.in img.two {
  bottom: -25px;
  right: -40px;
}

.reserves {
  width: max-content;
  font-family: "text";
  font-size: 1.1em;
  background: #38b6ff;
  padding: 0.5em 1.1em;
  border-radius: 35px;
  border: 3px solid #fff;
  box-shadow: -4px 4px 0px #fff;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
  margin: 0 auto;
}
.reserves:hover {
  box-shadow: -4px 4px 2px rgba(18, 18, 18, 0.9);
  padding: 0.5em 2em;
}

.content {
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  display: flex;
  padding: 1em;
  margin: 0.75rem;
  border: 3px solid rgba(56, 182, 255, 0.5);
  max-width: 800px;
}

.illustration {
  width: 350px;
  height: 255px;
  overflow: hidden;
}
.illustration .bg-illu {
  width: auto;
  min-width: 350px;
  height: 100%;
}
.illustration h3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-family: "text";
  font-size: 1.5em;
  text-shadow: 0px 0px 2px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 10px #000;
}

.separation {
  height: 250px;
  width: 4px;
  border-radius: 2px;
  margin: auto 25px;
  background: rgba(56, 182, 255, 0.6);
}

.descr {
  width: 45ch;
}

.quad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
  max-width: 800px;
  border: 3px solid rgba(56, 182, 255, 0.6);
  padding: 1.125rem;
  margin: 0.75rem 20px 35px 20px;
  background: rgba(56, 182, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 3px solid rgba(56, 182, 255, 0.6);
}
.quad p {
  max-width: 29ch;
}
.quad span {
  color: #38b6ff;
  font-family: "sub";
  background: #fff;
  margin: 0 0.75rem;
  padding: 5px;
  border-radius: 7px;
}
.quad .separation {
  max-height: 180px;
}
.quad .quad-img {
  width: 300px;
  height: 180px;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #fff;
}
.quad .quad-img img {
  width: 100%;
  min-height: 100%;
}

/* Animations */
/*nav*/
nav {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}
nav a {
  position: relative;
}
nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8901960784);
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
nav a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8901960784);
  bottom: -2px;
  left: 0;
  box-shadow: 0px 0px 2px rgba(18, 18, 18, 0.6156862745), 0px 2px 2px rgba(18, 18, 18, 0.6156862745);
}

/*What we do*/
.div {
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.div:hover {
  transform: translateY(-25px);
}

/*Sections*/
section {
  -webkit-animation: tilt-in-left-1 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: tilt-in-left-1 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

/*
 * ----------------------------------------
 * animation popup apparition
 * ----------------------------------------
 */
@-webkit-keyframes the-popup {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}
@keyframes the-popup {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}
/*
 * ----------------------------------------
 * animation tilt-in-left
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-left-1 {
  0% {
    transform: rotateX(-30deg) translateX(-150px) skewX(-10deg);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
@keyframes tilt-in-left-1 {
  0% {
    transform: rotateX(-30deg) translateX(-150px) skewX(-10deg);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
.checkbox-wrapper-4 * {
  box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}

.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transform: scale(1);
  border: 2px solid #e3e3e3;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 14px;
  stroke-dashoffset: 14px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #fff;
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: #38b6ff;
  border-color: #fff;
  -webkit-animation: wave-4 0.4s ease;
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
/*Desktop First*/
.container {
  max-width: 1536px;
  margin: 0 auto;
}

/*2xl*/
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/*xl*/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .infos-excu {
    align-items: center;
  }
  .flowers img {
    position: absolute;
    width: 125px;
    top: -65px;
  }
  .flowers .flo-1 {
    left: 30px;
  }
  .flowers .flo-2 {
    left: -15px;
  }
  .flowers .flo-3 {
    display: none;
  }
  .flowers .flo-4 {
    display: none;
  }
}
/*lg*/
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  #home .malala img {
    top: -80px;
  }
  #choice {
    background: url(../imgs/offers/007.webp) bottom center/auto 100% no-repeat, linear-gradient(to bottom, transparent, #fff, transparent);
  }
  .infos-excu {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .swiper {
    width: 80vw;
  }
  .preview h5 {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .preview .lemur {
    position: absolute;
    top: -100px;
    left: 100%;
    transform: translateX(-50%) rotate(20deg);
    z-index: 2;
    width: 300px;
  }
  .preview .lemur img {
    width: 100%;
  }
}
/*md*/
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  #home {
    padding-top: 150px;
  }
  #home .malala {
    padding: 3em 15px 1em 15px;
  }
  #home .malala h1 {
    top: -75px;
  }
  #home .malala img {
    top: -75px;
  }
  .includ {
    width: 100%;
    max-width: none;
    margin-top: 25px;
    display: flex;
    gap: 25px;
  }
  .includ .in,
  .includ .price {
    width: 50%;
    margin-bottom: 20px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .reserves {
    width: max-content;
    font-family: "text";
    font-size: 1.1em;
    background: #38b6ff;
    padding: 0.5em 1.1em;
    border-radius: 35px;
    border: 3px solid #fff;
    box-shadow: -4px 4px 0px #fff;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    position: absolute;
    bottom: 40px;
    right: 75px;
  }
  .reserves:hover {
    box-shadow: -4px 4px 2px rgba(18, 18, 18, 0.9);
    padding: 0.5em 2em;
  }
  .content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
  .illustration {
    width: 100%;
    max-width: 90vw;
    height: 255px;
    background: red;
  }
  .illustration .bg-illu {
    min-width: 100%;
  }
  .separation {
    height: 4px;
    width: 250px;
    border-radius: 2px;
    margin: 25px auto;
  }
  .descr {
    width: 100%;
  }
  .menu-burger {
    display: block;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 25%;
    min-width: 200px;
    text-align: center;
    background: rgba(18, 18, 18, 0.4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: -2px 0px 5px rgba(18, 18, 18, 0.6156862745);
  }
  .iranja-bivouac .informa {
    bottom: 0px;
  }
  .iranja-bivouac .text {
    margin: 0 29px;
  }
}
/*sm*/
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  #home .malala h1 {
    top: -50px;
  }
  #home .malala img {
    top: -50px;
    right: -40px;
  }
  .inc,
  .price {
    flex-grow: 1;
  }
  .includ {
    display: flex;
    flex-wrap: wrap;
  }
  .includ .in,
  .includ .price {
    width: 100%;
    margin-bottom: 20px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .reserves {
    width: max-content;
    font-family: "text";
    font-size: 1.1em;
    background: #38b6ff;
    padding: 0.5em 1.1em;
    border-radius: 35px;
    border: 3px solid #fff;
    box-shadow: -4px 4px 0px #fff;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    position: absolute;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }
  .reserves:hover {
    box-shadow: -4px 4px 2px rgba(18, 18, 18, 0.9);
    padding: 0.5em 2em;
  }
  .preview .lemur {
    display: none;
  }
  .program {
    margin: 75px 20px 20px 20px;
  }
}
/*xs*/
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  #home .malala h1 {
    top: -30px;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
  .boxs {
    overflow-x: hidden;
    font-size: 0.9em;
  }
  .quad span {
    color: #38b6ff;
    font-family: "sub";
    background: #fff;
    margin: 0 0.75rem;
    padding: 5px;
    border-radius: 7px;
    margin: 0 50% 0 0;
    line-height: 40px;
  }
  #circuit h4 {
    font-size: 0.9em;
  }
  form h2 {
    font-size: 1.1em;
    letter-spacing: 0px;
  }
  .politique p {
    letter-spacing: 0px;
    font-size: 0.9em;
  }
}