/* body styles */
body{
    background: url(/assets/imgs/main-bg.jpg) 50%/cover no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
}