/* body styles */
body {
    background: url(../../assets/imgs/secondary-bg.webp) center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
    font-size: 18px;
    &::-webkit-scrollbar{
        width: .25em;
    }
    &::-webkit-scrollbar-track{
        background: #fff;

    }
    &::-webkit-scrollbar-thumb{
        background: $secondary;
    }
}

section {
    min-height: 100vh;
}